:root {
  --pozadinska-boja: #ffe6e6;
  --tamnija-boja: #7469b6;
  --standardna-boja: #ad88c6;
  --svetlija-boja: #e1afd1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--pozadinska-boja);
}

h1 {
  text-align: center;
  color: var(--tamnija-boja);
}
